body {
    background-image: url("../images/batman-bkgrnd-02.jpeg");
    background-color: red;
    color: white;
}

/* div {
    border-style: dotted;
    border-width: 1px;
} */

button.attack {
    margin: 60px 0 30px 0;
}

div.image {
    display: inline-block;
    margin: 0 20px 0 20px;
}

p.players {
    margin-bottom: 1px;
}